form {
  font-size: 3vh;
}


.mc_embed_signup {
  background:transparent;
  clear:left;
  padding-top: 0;
  padding-left: 0;
  color: white;
  position: absolute;
  bottom: 10%;
  h3 {
    font-size: 4vh;
  };
}
