// Your footer style
/* code your footer design here */
#footer {
  background-image: url(../images/golf-background-light.jpg);
  background-size: cover;
  background-position: center center;
  padding: 2em 0;
  min-height: 500px;
  color: $gray-darker;
  opacity: 0.8;
}

#footer a {
  color: $gray-darker;
  font-size: 3vmax;
  transition: color 0.5s ease;
}

#footer li {
  padding: 2em;
}

#footer p {
  font-size: 3vmax;
  margin-top: 2em;
}

#footer button {

}
