---
title: DivoTee contact
---

<!-- <div id="banner">
  <div class="card">
    <h1>The DivoTee</h1>
    <br>
    <p strong>The whole in one partner to your golf journey</p>
    <br>
    <a href="" class="action-btn">keep me posted</a>
  </div>
</div>

<div class="grey-gradient-bg padded">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-s-6">
        <div class="contact-picture">
          <%= image_tag 'caddy1.jpg' %>
          <h2>Black Mountain</h2>
        </div>
      </div>
      <div class="col-xs-12 col-s-6">
        <div class="contact-picture">
          <%= image_tag 'book-caddy.svg' %>
          <h2>Book your caddy</h2>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur., <strong>Sollicitudin Porta</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="text-center padded">
    <h2>Get news from the DivoTee!</h2>
    <p>Leave us your email and keep posted</p>
    <form class="form-inline">
      <div class="form-group">
        <label for="exampleInputName2">Name</label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> -->
